<main class="tasks">

  <div class="tasks__layout" [class.tasks__layout_with-details]="selectedTask()">
    <section class="tasks__container">

      <div class="tasks__header">
        <div class="tasks__intro">
          <img class="tasks__logo" src="images/logo.svg" alt="Логотип">
          <div class="tasks__heading">
            <p class="tasks__label">Taskologia</p>
            <h1 class="tasks__title">Трекер задач</h1>
          </div>
        </div>
        <div class="tasks__counter">Активных: {{ activeTasksCount() }}</div>
      </div>

      <form class="tasks__form" (ngSubmit)="addTask()">
        <div class="tasks__input-wrapper">
          <input type="text" class="tasks__input" name="taskTitle" #inputElement
                 [ngModel]="taskTitle()" (ngModelChange)="taskTitle.set($event)"

                 placeholder="Введите новую задачу">
          <textarea class="tasks__textarea"
                    name="taskDescription"
                    placeholder="Добавьте описание задачи"
                    *appShowIfValue="taskTitle()"
                    [ngModel]="taskDescription()"
                    (ngModelChange)="taskDescription.set($event)"></textarea>
          @if (taskTitle()) {
            <button class="tasks__clear" type="button" (click)="clearTaskInput()"
                    *appShowIfValue="taskTitle()"
                    appTooltip="Очистить">
              <img src="images/icons/cross.svg" alt="Cross">
            </button>
          }
        </div>
        <button class="tasks__button" *appShowIfValue="taskTitle()">Добавить</button>
      </form>

      <div class="tasks__list">

        @for (task of tasks(); track task.id) {
          <app-task-card [task]="task"
                         [isSelected]="selectedTask()?.id === task.id"
                         (toggle)="toggleTask($event)"
                         (select)="selectTask($event)"></app-task-card>
        } @empty {
          <div class="tasks__empty">
            <p>Задач пока нет</p>
            <span>Добавьте первую задачу через форму выше</span>
          </div>
        }
      </div>

    </section>

    @if (selectedTask()) {
      <app-task-details [task]="selectedTask()!" (close)="closeDetails()" (delete)="deleteTask($event)" />
    }
  </div>


</main>
