<div class="task-card" [class.task-card_completed]="task().completed"
     [class.task-card_selected]="isSelected()"
     (click)="select()">
  <button type="button" (click)="toggle($event)"
          [ngClass]="[
          'task-card__status',
          (task().priority ? 'task-card__status_priority-' + task().priority : '')
          ]"
          [appTooltip]="task().completed ? 'Отменить выполнение' : 'Выполнить'">
    @if (task().completed) {
      <img src="images/icons/tick.svg" alt="Tick">
    }
  </button>
  <div class="task-card__content">
    <p class="task-card__title">{{ task().title }}</p>
    @if (task().completed) {
      <span class="task-card__badge">Выполнено</span>
    } @else {
      <span class="task-card__badge task-card__badge_active">В работе</span>
    }
  </div>
  @if (task().deadline) {
    <div class="task-card__deadline" [appTooltip]="'Дедлайн: ' + (task().deadline | date: 'd MMMM HH:mm')"
         [class.task-card__deadline_expired]="isDeadlineExpired(task().deadline)">
      {{ task().deadline | taskDeadline }}
    </div>
  }
</div>
