* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RubikRegular;
  src: url("../public/fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: RubikSemiBold;
  src: url("../public/fonts/Rubik-SemiBold.ttf");
}

body {
  font-family: RubikRegular, sans-serif;
}

button {
  cursor: pointer;
}

.tooltip {
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  background: #1f2937;
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  z-index: 1000;
}
